<html>
    <head>
        <title>HBS Webpage</title>
    </head>
    <header>
        {{>header}}
    </header>
    <body>
        <h1>{{pagename}}</h1>
        <h2>{{myname}}</h2>
    </body>
</html>